.name-sequence {
  position: fixed;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  color: white;
  background-color: rgba(63, 181, 73, 0.99);
  font-size: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.name-sequence a {
  color: white;
}
.name-sequence .name-form {
  background-color: rgba(255, 198, 10, 0.9);
  width: 40%;
  padding: 50px;
  border: 50px solid rgba(41, 48, 58, 0.9);
}
.name-sequence .give-me-a-name {
  display: block;
  margin-top: 30px;
}
