// LAYOUT UTILITIES
// FLEX CLASSES
=flx
  display: flex
  display: -webkit-flex
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox /* TWEENER - IE 10 */
  display: -webkit-flex
  display: flex

=flx-row-wrap
  +flx
  flex-wrap: wrap
  flex-direction: row

=flx-col-wrap
  +flx
  flex-wrap: wrap
  flex-direction: column

=flx-ctr-ctr
  +flx
  align-items: center
  justify-content: center
  -webkit-box-align: center
  -webkit-flex-align: center
  -ms-flex-align: center
  -webkit-align-items: center

=flx-row
  flex-direction: row

=flx-row-reverse
  flex-direction: row-reverse

=flx-column-reverse
  flex-direction: column-reverse

=flx-just-ctr
  +flx
  justify-content: center

=flx-row-end
  +flx
  flex-direction: row
  justify-content: flex-end

=flx-row-start
  +flx
  flex-direction: row
  justify-content: flex-start

=flx-algn-ctr
  +flx
  align-items: center

=flx-btwn
  +flx
  flex-direction: row
  justify-content: space-between
