// Responsive
$desktop-nav-width: 820px
$phablet-width: 1200px
$large: 1240px
$super-large: 1600px
$small: 750px


=responsive-below($width)
	@media (max-width: #{$width})
		@content

=responsive-above($width)
	@media (min-width: $width)
		@content

=phabletup
	@media (min-width: #{$phablet-width})
		@content

=phabletdown
	@media (max-width: #{$phablet-width})
		@content

=smallup
	@media (min-width: #{$small})
		@content

=small
	@media (max-width: #{$small})
		@content

=large
	@media (min-width: #{$large})
		@content

=super-large
	@media (min-width: #{$super-large})
		@content


=ratio($width, $height)
	position: relative
	&:before
		display: block
		content: ""
		width: 100%
		padding-top: ($height / $width) * 100%
	>.in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-size: cover
		background-position: center
		background-repeat: no-repeat

=cf
	&:before,
	&:after 
		content: " "
		display: table
	&:after
		clear: both
	*zoom: 1


=fixchop
	-webkit-transform: translateZ(0)
	-webkit-backface-visibility: hidden 
	-webkit-perspective: 1000

	-moz-transform: translateZ(0)
	-moz-backface-visibility: hidden 
	-moz-perspective: 1000

	-ms-transform: translateZ(0)
	-ms-backface-visibility: hidden 
	-ms-perspective: 1000

	-o-transform: translateZ(0)
	-o-backface-visibility: hidden 
	-o-perspective: 1000

	transform: translateZ(0)
	backface-visibility: hidden 
	perspective: 1000 

=ir
	text-indent: 205%
	white-space: nowrap
	overflow: hidden

=lightText
	color: white
	a
		color: white
