@import "flex"
@import "mixins"

.name-sequence
	position: fixed
	+flx-ctr-ctr
	+lightText
	background-color: rgba(63, 181, 73, .99)
	font-size: 20px
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 1000
	.name-form
		background-color: rgba(255, 198, 10, .9)
		width: 40%
		padding: 50px
		border: 50px solid rgba(41, 48, 58, .9)
	.give-me-a-name
		display: block
		margin-top: 30px